<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="format-detection" content="address=no;">
		<title>我是{:getUserName($uid)},编号{$id},正在参加[顺心会]七夕活动,请帮我投票吧!</title>
		<link rel="stylesheet" href="__PUBLIC__/css/seven_moon_init.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/seven_moon_detail.css"/>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/init.js"></script>
	</head>
	<body>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<?php $wxConfig = getSign();?>
		<script type="text/javascript">
			wx.config({
			    debug: false,
			    appId: 'wxd234e21357e1ee43',
			    timestamp: {$wxConfig.timestamp},
			    nonceStr: '{$wxConfig.noncestr}',
			    signature: '{$wxConfig.signature}',
			    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
			});
			wx.ready(function(){
			    wx.onMenuShareTimeline({
				    title: '我是{:getUserName($uid)},编号{$id},正在参加[顺心会]七夕活动,请帮我投票吧!', 
				    link: '{$wxConfig.url}',
				    imgUrl: '{$wxConfig.domain}__PUBLIC__/img/qixi.jpg',
				    success: function () { 

				    },
				    cancel: function () { 

				    }
				});
				wx.onMenuShareAppMessage({
				    title: '[顺心会]七夕活动', 
				    desc: '我是{:getUserName($uid)},编号{$id},正在参加[顺心会]七夕活动,请帮我投票吧!',
				    link: '{$wxConfig.url}',
				    imgUrl: '{$wxConfig.domain}__PUBLIC__/img/qixi.jpg',
				    type: '',
				    dataUrl: '',
				    success: function () { 

				    },
				    cancel: function () { 

				    }
				});
			});
		</script>
		<!--header-->
		<div class="header">
			<a href="/wap/lover/loverlist"></a>
			<h3>七夕活动</h3>
			<a href="/wap/member/index" class="user"></a>
		</div>
		<!--内容-->
		<div class="content">
			<div class="single">
				<h3>编号{$id} <span>票</span><span>{$score}</span></h3>
				<div class="img-wrap">
					<img src="__UPLOAD__{:str_replace('thumb_','',$image)}"/>
				</div>
				<div class="single_txt">
					<div class="single_til">
						<span class="sin_l sin_name">{$owner}</span>
						<span class="red_bg"></span>
						<span class="sin_r sin_name">{$lover}</span>
					</div>
					<p>{$content}</p>
				</div>
			</div>
		</div>
		<!--分享蒙层-->
		<div class="share_bg"></div>
		<!--邀请-->
		<div class="invite">
		<!-- <span></span>12票 -->
			<div class="invite_l" onclick="vote({$id})"><span></span>投票</div>
			<div class="invite_r">
				<span></span>邀请好友投票
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){
			//分享层
			$('.invite_r').click(function(){
				$('.share_bg').show();
			});
			$('.share_bg').click(function(){
				$('.share_bg').hide();
			});
		})
		function vote(id){
			$.post(
				'/api/lover/vote',
				{'id':id},
				function(res){
					if(res.status == 2){
						layer.msg(res.msg,{icon: 5});
						setTimeout('goto()',3000);
						return false;
					}
					if(res.status == 1){
						layer.msg(res.msg,{icon: 1});
						var score = parseInt($(".single").children().eq(0).children().eq(1).html()) + 1;
						$(".single").children().eq(0).children().eq(1).html(score);
						return false;
					}else{
						layer.msg(res.msg,{icon: 5});
					}
				},
				'json'
			);
		}
		function goto(){
			window.location.href="/wap/member/login";
		}
	</script>
</html>
