<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="format-detection" content="address=no;">
		<title>七夕秀恩爱</title>
		<link rel="stylesheet" href="__PUBLIC__/css/seven_moon_init.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/seven_moon_index.css"/>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/init.js"></script>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<a href="/"></a>
			<h3>顺心会</h3>
			<span></span>
		</div>
		<!--banner-->
		<div class="banner"></div>
		<!--content-->
		<div class="content">
			<!--活动时间-->
			<div class="act_time">
				<div class="time">活动时间</div>
				<p>2017年8月25日-2017年9月9日</p>
			</div>
			<!--活动规则-->
			<div class="act_com">
				<div class="com">活动规则</div>
				<p>1.参与活动的用户，通过微信公众号、微博进入或官网    直接登录或注册官网会员。</p>
				<p>2.参与活动的用户，在官网上传自己参与活动</p>
				<p>3.参与活动的用户，分享参与活动的页面，进行投票。</p>
				<p>4.每日每个账号最多可投10票。投票时间为2017.8.25-2017.9.9。</p>
			</div>
			<!--活动奖励-->
			<div class="act_gift">
				<div class="gift">活动奖励</div>
				<div class="gift_lists">
					<ul>
						<li><img src="__PUBLIC__/img/1.png" alt="" /></li>
						<li><img src="__PUBLIC__/img/2.png" alt="" /></li>
						<li><img src="__PUBLIC__/img/3.png" alt="" /></li>
					</ul>
				</div>
			</div>
			<!--活动要求-->
			<div class="act_com">
				<div class="com">活动要求</div>
				<p>1、所有注册的会员。 </p>
				<p>2、每个会员只能上传一张双人照片，照片必须与活动主题相关。</p>
				<p>3、不允许任何可能的机器刷票行为；一经发现，</p>
				<p>4.本次活动不得上传违反国家法律法规的违法图片，一经发现，取消永久活动资格。</p>
			</div>
			<!--活动流程-->
			<div class="act_path">
				<div class="path">活动流程</div>
				<ul>
					<li>
						<div class="path_til">注册登录</div>
						<div class="down"></div>
					</li>
					<li>
						<div class="path_til">上传活动照片</div>
						<div class="down"></div>
					</li>
					<li>
						<div class="path_til">分享页面</div>
						<div class="down"></div>
					</li>
					<li>
						<div class="path_til">页面投票</div>
					</li>
				</ul>
			</div>
			<!--分享蒙层-->
			<div class="share_bg"></div>
			<!--人气情侣-->
			<div class="pop_lover clearfix">
				<h3>人气情侣</h3>
				<div class="number_list">
					<ul class="clearfix">
						{volist name="list" id="vo"}
						<li>
							<div class="love_til">编号{$vo.id}<!-- <span class="share"></span> --></div>
							<a href="/wap/lover/detail/{$vo.id}">
							<div class="love_pic">
								<img src="__UPLOAD__/{$vo.image}"/>
							</div>
							</a>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">{$vo.owner}</span>
										<span class="black"></span>
										<span class="name_famle">{$vo.lover}</span>
									</div>
									<div class="describe">
										<p>{$vo.content}</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l"><span>{$vo.score}</span>票</div>
									<div class="ticket_r" onclick="vote({$vo.id},this);"><span></span>投一票</div>
								</div>
							</div>
						</li>
						{/volist}
					</ul>
				</div>
			</div>
			<!--查看更多-->
			<a href="/wap/lover/loverlist"><div class="act_look">查看更多</div></a>
			<!--活动二维码-->
			<div class="act_code clearfix">
				<div class="code_l">
					<div class="code_wrap">
						<img src="__PUBLIC__/img/weixin.png"/>
					</div>
					<div class="code_discribe">
						<h3>官方微信</h3>
						<h3>微信号：shunxinhui</h3>
						<p>（长按识别二维码加关注，更多精彩活动一手掌握）</p>
					</div>
				</div>
				<div class="code_r">
					<div class="code_wrap">
						<img src="__PUBLIC__/img/weibo.png"/>
					</div>
					<div class="code_discribe">
						<h3>官方微信</h3>
						<h3>微信号：shunxinhui</h3>
						<a href="#">访问微博</a>
					</div>
				</div>
			</div>
		</div>
		<!--顺心会、推广合作-->
		<div class="foot">
			<div class="shunxinhui">
				<h3>顺心会<span></span></h3>
			</div>
			<div class="tuiguang">
				<h3>推广合作<span></span></h3>
				<p>©版权所有北京空港云天智慧城市科技有限公司 </p>
				<p>京ICP备15026483号-3</p>
			</div>
		</div>
		<!--立即报名-->
		<a href="/wap/lover/sign" class="sign_up">立即报名</a>
	</body>
	<script type="text/javascript">
		$(function(){
			//分享层
			$('.share').click(function(){
				$('.share_bg').show();
			});
			$('.share_bg').click(function(){
				$('.share_bg').hide();
			});
		})
		function vote(id,obj){
			$.post(
				'/api/lover/vote',
				{'id':id},
				function(res){
					if(res.status == 2){
						layer.msg(res.msg,{icon: 5});
						setTimeout('goto()',3000);
						return false;
					}
					if(res.status == 1){
						layer.msg(res.msg,{icon: 1});
						var score = parseInt($(obj).prev().children().html()) + 1;
						$(obj).prev().children().html(score);
						return false;
					}else{
						layer.msg(res.msg,{icon: 5});
					}
				},
				'json'
			);
		}
		function goto(){
			window.location.href="/wap/member/login";
		}
	</script>
</html>
