<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="format-detection" content="address=no;">
		<title>参赛情侣</title>
		<link rel="stylesheet" href="__PUBLIC__/css/seven_moon_init.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/seven_moon_list.css"/>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/init.js"></script>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<a href="#"></a>
			<h3>参赛情侣</h3>
			<span></span>
		</div>
		
		<!--content-->
		<div class="content">
			<!--搜索-->
			<div class="search">
				<input type="text" name="" id="" value="" placeholder="编号搜索" />
				<a href="/lover"></a>
			</div>
			<!--人气情侣-->
			<div class="pop_lover clearfix">
				<div class="number_list">
					<ul class="clearfix">
						<li>
							<div class="love_til">编号0101<span></span></div>
							<div class="love_pic">
								<img src="__PUBLIC__/img/love-pic.png"/>
							</div>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">安神补脑液</span>
										<span class="black"></span>
										<span class="name_famle">安神补脑液</span>
									</div>
									<div class="describe">
										<p>一步一微笑，一步一伤心，一步一劫难，尽管记忆在悲伤</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l">123456票</div>
									<div class="ticket_r"><span></span>投一票</div>
								</div>
							</div>
						</li>
						<li>
							<div class="love_til">编号0101<span></span></div>
							<div class="love_pic">
								<img src="__PUBLIC__/img/love-pic.png"/>
							</div>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">安神补脑液</span>
										<span class="black"></span>
										<span class="name_famle">安神补脑液</span>
									</div>
									<div class="describe">
										<p>一步一微笑，一步一伤心，一步一劫难，尽管记忆在悲伤</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l">123456票</div>
									<div class="ticket_r"><span></span>投一票</div>
								</div>
							</div>
						</li>
						<li>
							<div class="love_til">编号0101<span></span></div>
							<div class="love_pic">
								<img src="__PUBLIC__/img/love-pic.png"/>
							</div>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">安神补脑液</span>
										<span class="black"></span>
										<span class="name_famle">安神补脑液</span>
									</div>
									<div class="describe">
										<p>一步一微笑，一步一伤心，一步一劫难，尽管记忆在悲伤</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l">123456票</div>
									<div class="ticket_r"><span></span>投一票</div>
								</div>
							</div>
						</li>
						<li>
							<div class="love_til">编号0101<span></span></div>
							<div class="love_pic">
								<img src="__PUBLIC__/img/love-pic.png"/>
							</div>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">安神补脑液</span>
										<span class="black"></span>
										<span class="name_famle">安神补脑液</span>
									</div>
									<div class="describe">
										<p>一步一微笑，一步一伤心，一步一劫难，尽管记忆在悲伤</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l">123456票</div>
									<div class="ticket_r"><span></span>投一票</div>
								</div>
							</div>
						</li>
						<li>
							<div class="love_til">编号0101<span></span></div>
							<div class="love_pic">
								<img src="__PUBLIC__/img/love-pic.png"/>
							</div>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">安神补脑液</span>
										<span class="black"></span>
										<span class="name_famle">安神补脑液</span>
									</div>
									<div class="describe">
										<p>一步一微笑，一步一伤心，一步一劫难，尽管记忆在悲伤</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l">123456票</div>
									<div class="ticket_r"><span></span>投一票</div>
								</div>
							</div>
						</li>
						<li>
							<div class="love_til">编号0101<span></span></div>
							<div class="love_pic">
								<img src="__PUBLIC__/img/love-pic.png"/>
							</div>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">安神补脑液</span>
										<span class="black"></span>
										<span class="name_famle">安神补脑液</span>
									</div>
									<div class="describe">
										<p>一步一微笑，一步一伤心，一步一劫难，尽管记忆在悲伤</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l">123456票</div>
									<div class="ticket_r"><span></span>投一票</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--投票奖励-->
		<a href="/lover" class="sign_up">投票奖励</a>
	</body>
</html>
