<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="format-detection" content="address=no;">
		<title>参赛情侣</title>
		<link rel="stylesheet" href="__PUBLIC__/css/seven_moon_init.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/seven_moon_list.css"/>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/init.js"></script>
	<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?08ced2054d8f578efb2b597aea75a6d1";
				var s = document.getElementsByTagName("script")[0]; 
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<?php $wxConfig = getSign();?>
		<script type="text/javascript">
			wx.config({
			    debug: false,
			    appId: 'wxd234e21357e1ee43',
			    timestamp: {$wxConfig.timestamp},
			    nonceStr: '{$wxConfig.noncestr}',
			    signature: '{$wxConfig.signature}',
			    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
			});
			wx.ready(function(){
			    wx.onMenuShareTimeline({
				    title: '[顺心会]七夕活动', 
				    link: '{$wxConfig.url}',
				    imgUrl: '{$wxConfig.domain}__PUBLIC__/img/qixi.jpg',
				    success: function () { 

				    },
				    cancel: function () { 

				    }
				});
				wx.onMenuShareAppMessage({
				    title: '[顺心会]七夕活动', 
				    desc: '七夕晒照赢现金，幸福就要秀秀秀',
				    link: '{$wxConfig.url}',
				    imgUrl: '{$wxConfig.domain}__PUBLIC__/img/qixi.jpg',
				    type: '',
				    dataUrl: '',
				    success: function () { 

				    },
				    cancel: function () { 

				    }
				});
			});
		</script>
		<!--header-->
		<div class="header">
			<a href="/lover"></a>
			<h3>参赛情侣</h3>
			<a class="user" href="/wap/member/index"></a>
		</div>
		
		<!--content-->
		<div class="content">
			<!--搜索-->
			<div class="search">
				<input type="text" id="number" value="" placeholder="编号搜索" />
				<a href="#" onclick="searchid();"></a>
			</div>
			<!--倒计时-->
			<div class="time_item clearfix">
				<span id="end">距离活动结束还有：</span>
				<strong id="day_show">0天</strong>
				<strong id="hour_show">0时</strong>
				<strong id="minute_show">0分</strong>
				<strong id="second_show">0秒</strong>
			</div>
			<!--人气情侣-->
			<div class="pop_lover clearfix">
				<div class="number_list">
					<ul class="clearfix">
						{volist name="list" id="vo"}
						<li>
							<div class="love_til">编号{$vo.id}</div>
							<div class="love_pic">
								<a href="/wap/lover/detail/{$vo.id}">
								<img src="__UPLOAD__/{$vo.image}"/>
								</a>
							</div>
							<div class="love_con">
								<div class="love_txt">
									<div class="love_name clearfix">
										<span class="name_male">{$vo.owner}</span>
										<span class="black"></span>
										<span class="name_famle">{$vo.lover}</span>
									</div>
									<div class="describe">
										<p>{$vo.content}</p>
									</div>
								</div>
								<div class="ticket">
									<div class="ticket_l"><span>{$vo.score}</span>票</div>
									<div class="ticket_r" onclick="vote({$vo.id},this);"><span></span>投一票</div>
								</div>
							</div>
						</li>
						{/volist}
					</ul>
				</div>
			</div>
		</div>
		<!--投票奖励-->
		<div class="fot_btn clearfix">
			<a href="/lover" class="gift">活动奖励</a>
			<a href="/wap/lover/sign" class="sign">我要报名</a>
		</div>
	</body>
	<script type="text/javascript">
		function vote(id,obj){
			$.post(
				'/api/lover/vote',
				{'id':id},
				function(res){
					if(res.status == 2){
						layer.msg(res.msg,{icon: 5});
						setTimeout('goto()',3000);
						return false;
					}
					if(res.status == 1){
						layer.msg(res.msg,{icon: 1});
						var score = parseInt($(obj).prev().children().html()) + 1;
						$(obj).prev().children().html(score);
						return false;
					}else{
						layer.msg(res.msg,{icon: 5});
					}
				},
				'json'
			);
		}
		function goto(){
			window.location.href="/wap/member/login";
		}

		function searchid(){
			var id = $("#number").val();
			window.location.href="/wap/lover/loverlist/"+id;
		}
		var intDiff = parseInt({$desc});//倒计时总秒数量
		function timer(intDiff){
			window.setInterval(function(){
				var day=0,
					hour=0,
					minute=0,
					second=0;//时间默认值		
				if(intDiff > 0){
					day = Math.floor(intDiff / (60 * 60 * 24));
					hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
					minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
					second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
				}
				if (minute <= 9) minute = '0' + minute;
				if (second <= 9) second = '0' + second;
				$('#day_show').html(day+"天");
				$('#hour_show').html('<s id="h"></s>'+hour+'时');
				$('#minute_show').html('<s></s>'+minute+'分');
				$('#second_show').html('<s></s>'+second+'秒');
				intDiff--;
			}, 1000);
		} 
		$(function(){
			timer(intDiff);
		});
	</script>
</html>
