<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="format-detection" content="address=no;">
		<title>报名参加</title>
		<link rel="stylesheet" href="__PUBLIC__/css/seven_moon_init.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/seven_moon_sign.css"/>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/init.js"></script>
		<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<a href="/lover"></a>
			<h3>报名参加</h3>
		</div>
		<!--内容-->
		<div class="content">
			<form action="/api/lover/sign" id="signform" method="post" enctype="multipart/form-data" onsubmit="return check();">
			<div class="upload">
				<div class="up_txt">
					<h3><span></span>上传合照（必填）</h3>
					<p>请上传一张具备本次活动主题的合影照片，作为您本次参赛的代表照片。可以是您和您和您最爱的人的合影哦,欢迎大家广撒狗粮~</p>
				</div>
				
				<input onchange="preview(this);" type="file" name="image" id="image" value="" style="display:none;"/>
				<label for="image">
					<div id="preview"></div>
					<div class="up_pic">
						<div class="camera"></div>
						<p id="tip">仅限JPG、png格式的照片大小不超过5M</p>
					</div>
				</label>
				<!--<img src="__PUBLIC__/img/love-pic.png" alt="" />-->
			</div>
			<!--昵称-->
			<div class="inp_name">
				<input type="text" id="owner" name="owner" maxlength="5" placeholder="五个字昵称"/>
				<span></span>
				<input type="text" id="lover" name="lover" maxlength="5" placeholder="五个字昵称"/>
			</div>
			<!--个人简介-->
			<div class="upload">
				<div class="up_txt">
					<h3><span></span>个人简介（必填）</h3>
					<p>与所有人一起分享自己的个人爱好、经历、特长吧，认真填写可能会给你带来更多的票数哦~（最多不超过30字）</p>
				</div>
				<div class="up_inp">
					<textarea id="content" maxlength="30" name="content" rows="" cols=""></textarea>
				</div>
			</div>
			<!--提交-->
			<div class="sub" onclick="$('#signform').submit();">提交报名</div>
			</form>
		</div>
	</body>
	<script type="text/javascript">    
	function preview(file){  
		var prevDiv = document.getElementById('preview');  
		if (file.files && file.files[0]) {  
			var reader = new FileReader();  
			reader.onload = function(evt){  
				prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';  
			}    	
			reader.readAsDataURL(file.files[0]);  
		}  
		else {  
			prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';  
		} 
		$('.up_pic').hide();
		$('#preview').show();
	}
	function check(){
		var image = $("#image").val();
		var owner = $("#owner").val();
		var lover = $("#lover").val();
		var content = $("#content").val();
		if(image == ''){
			layer.msg("请上传图片!",{icon: 5});return false;
		}
		if(owner == ''){
			layer.msg("请填写昵称!",{icon: 5});return false;
		}
		if(lover == ''){
			layer.msg("请填写昵称!",{icon: 5});return false;
		}
		if(content == ''){
			layer.msg("请填写简介!",{icon: 5});return false;
		}
	}
 </script>
</html>
