{include file="public/header_t" /}
<title>顺心会-七夕活动</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/seven_index.css"/>
{include file="public/header_b" /}
		<!--内容-->
		<div class="main">
			<!--banner-->
			<div class="banner">
				<div class="sun">
					<a href="/member/seven_sign">立即报名</a>
				</div>
			</div>
			<!--活动时间、活动规则-->
			<div class="main_top">
				<!--<div class="cloud_small"></div>-->
				<!--<div class="cloud_big"></div>-->
				<div class="com_wrap">
					<!--活动时间-->
					<div class="act_til"><h3>活动时间</h3></div>
					<div class="act_time">
						<p>2017年8月25日-2017年9月9日</p>
					</div>
					<!--活动规则-->
					<div class="act_til"><h3>活动规则</h3></div>
					<div class="act_rule">
						<p>1.参与活动的用户，通过微信公众号、微博进入或官网直接登录或注册官网会员。</p>
						<p>2.参与活动的用户，在官网上传自己参与活动的照片。</p>
						<p>3.参与活动的用户，分享参与活动的页面，进行投票。</p>
						<p>4.每日每个账号最多可投5票，投票时间2017.8.25-2.17.9.9。</p>
					</div>
				</div>
			</div>
			<!--活动奖励-->
			<div class="main_mid">
				<div class="com_wrap">
					<div class="act_til"><h3>活动奖励</h3></div>
					<div class="act_gift">
						<ul class="clearfix">
							<li>
								<div class="gift_one gift"></div>
								<div class="gift_wrap"><img src="__PUBLIC__/img/first.png"/></div>
							</li>
							<li>
								<div class="gift_two gift"></div>
								<div class="gift_wrap"><img src="__PUBLIC__/img/second.png"/></div>
							</li>
							<li>
								<div class="gift_three gift"></div>
								<div class="gift_wrap"><img src="__PUBLIC__/img/third.png"/></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--活动要求、活动流程、人气-->
			<div class="main_bot">
				<div class="com_wrap">
					<!--活动要求-->
					<div class="act_til"><h3>活动要求</h3></div>
					<div class="act_rule">
						<p>1、所有注册的会员。 </p>
						<p>2、每个会员只能上传一张双人照片，照片必须与活动主题相关。</p>
						<p>3、不允许任何可能的机器刷票行为；一经发现，取消永久活动资格。</p>
						<p>4、本次活动不得上传违反国家法律法规的的违法图片，一经发现，取消永久活动资格。</p>
					</div>
					<!--活动流程-->
					<div class="act_til"><h3>活动流程</h3></div>
					<div class="act_flow">
						<ul class="clearfix">
							<li>
								<div class="flow_l"><h3>注册登录</h3></div>
								<div class="flow_r"></div>
							</li>
							<li>
								<div class="flow_l"><h3>上传活动照片</h3></div>
								<div class="flow_r"></div>
							</li>
							<li>
								<div class="flow_l"><h3>分享页面</h3></div>
								<div class="flow_r"></div>
							</li>
							<li>
								<div class="flow_l"><h3>页面投票</h3></div>
							</li>
						</ul>
					</div>
					<!--人气-->
					<div class="act_pop">
						<div class="pop_til">
							<h3><span></span>人气情侣</h3>
						</div>
						<div class="pop_more">
							<a href="/index/loverlist">查看更多</a>
						</div>
						<div class="pop_list">
							<ul class="clearfix">
								{volist name="list" id="vo"}
								<li>
									<div class="pop_head">
										<div class="pop_num">编号{$vo.id}</div>
										<img src="__UPLOAD__{$vo.image}" alt="" />
									</div>
									<div class="pop_desc">
										<div class="pop_name clearfix">
											<span class="name name_l">{$vo.owner}</span>
											<span class="love"></span>
											<span class="name name_r">{$vo.lover}</span>
										</div>
										<p>{$vo.content}</p>
									</div>
									<div class="pop_btn">
										<div class="pop_number"><span>{$vo.score}</span>票</div>
										<a href="javascript:;" onclick="vote({$vo.id},this);"><span></span>投一票</a>
									</div>
								</li>
								{/volist}
							</ul>
						</div>
						<div class="more_btn">
							<a href="/index/loverlist">查看更多</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function vote(id,obj){
				$.post(
					'/api/lover/vote',
					{'id':id},
					function(res){
						if(res.status == 2){
							layer.msg(res.msg,{icon: 5});
							setTimeout('goto()',3000);
							return false;
						}
						if(res.status == 1){
							layer.msg(res.msg,{icon: 1});
							var score = parseInt($(obj).prev().children().html()) + 1;
							$(obj).prev().children().html(score);
							return false;
						}else{
							layer.msg(res.msg,{icon: 5});
						}
					},
					'json'
				);
			}
			function goto(){
				window.location.href="/login";
			}
		</script>
{include file="public/footer" /}