{include file="public/header_t" /}
<title>顺心会</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/gloryindex.css"/>
{include file="public/header_b" /}
		<!--内容-->
		<div class="banner">
			{include file="public/share" /}
			<div class="banner_in">
				<div class="com_wrap com_son">
					<!--按钮-->
					<div class="wond_btn">
						<a href="#" class="btn_time"></a>
						<a href="#" class="btn_huaxu"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="com_wrap com_son clearfix">
				<div class="notice"></div>
				<!---->
				<div class="main_team">
					<ul class="clearfix">
						<a href="/">
						<li class="on">
							<h3>报名详情</h3>
							<p>2017-7-17至2017-8-11</p>
						</li>
						</a>
						<a href="/primary">
						<li>
							<h3>初赛</h3>
							<p>2017-8-12</p>
						</li>
						</a>
						<a href="/semi">
						<li>
							<h3>复赛</h3>
							<p>2017-8-19</p>
						</li>
						</a>
						<a href="/finals">
						<li>
							<h3>决赛</h3>
							<p>2017-8-20</p>
						</li>
						</a>
					</ul>
				</div>
				<!--赛事规则-->
				<div class="game_event">
					<div class="ecent_list">
						<!--赛事按排-->
						<div class="event_time">赛事安排</div>
						<div class="event_wrap">
							<div class="tit_box">
                                <p><span class="s-tit ">冠军：每人￥4,000.00元</span></p>
                                <p><span class="s-tit ">亚军：每人￥2,000.00元</span></p>
                                <p><span class="s-tit ">季军：每人￥1,000.00元</span></p>
                                <p><span class="s-tit ">第四名：每人￥600.00元</span></p>
                                <p><span class="s-tit ">第5至8名：每人￥400.00元</span></p>
                                <p><span class="s-tit ">第9至16名：每人￥200.00元</span></p>
                                <p class="p-t yellow">【网上报名截止日期2017年8月11日18:00】</p>
                                <p class="p-b yellow">【初赛当天接受现场报名，可直接参赛】</p>
                            </div>
                            <div class="event_road">
                            	<div class="clearfix">
	                                <span class="s-date tl tp wm">初赛：2017年8月12日（星期六）14:00-19:00 &nbsp;&nbsp; </span>
	                                <span class="s-date tl tp wm">地址：<a href="/public/html/primary.html" target="_blank">瑞麟湾温泉度假酒店三层 悦麟殿（北京市顺义区顺平辅线39号）</a></span>
	                                <!-- <span class="s-date tl wm">乘车路线：顺38路 临河方向临河站下车。</span> -->
	                                <span class="s-date tl wm">乘车路线：地铁15号线俸伯站C1出口，赛事专车接送（发车时间12：30至19：30，每15分钟一班）。</span><br>
	                                <span class="s-date tl tp wm">复赛：2017年8月19日（星期六）14:00-19:00 &nbsp;&nbsp; </span>
	                                <span class="s-date tl tp wm">地址：<a href="/public/html/semi.html" target="_blank">北京临空皇冠假日酒店</a></span>
	                                <span class="s-date tl wm">乘车路线：地铁15号线国展站C口南600米。空港3路、顺22路、顺31路、955路，在马连店下车。</span><br>
	                                <span class="s-date tl tp wm">决赛：2017年8月20日（星期日） 14:00-19:00 &nbsp;&nbsp;参赛队伍16支</span>
	                                <span class="s-date tl tp wm">地址：<a href="/public/html/finals.html" target="_blank">北京临空皇冠假日酒店</a></span>
	                                <span class="s-date tl wm">乘车路线：地铁15号线国展站C口南600米。空港3路、顺22路、顺31路、955路，在马连店下车。</span>
	                            </p>
                            </div>
						</div>
						<!--参赛规则-->
						<div class="event_time">参赛规则</div>
						<div class="event_rule">
                            <div class="cs">
                                <span class="ywm"><img class="fl" src="__PUBLIC__/img/zt_03.png" alt="">资格要求</span>
                                <p>1.须持有有效身份证明的中华人民共和国公民。</p>
                                <p>2.每人只能参加一支队伍,每支队伍需要5名选手，少于5人的队伍不能参赛。</p>
                                <p>3.比赛仅支持《王者荣耀》微信区用户参与。</p>
                                <p>4.本次比赛不接受个人报名参加，未成年须在家长陪同下参加。</p>
                            </div>
                            <div class="cs">
                                <span class="ywm"><img class="fl" src="__PUBLIC__/img/zt_03.png" alt="">赛事规则</span>
                                <p>1.   参赛选手须在主办方指定服务器环境下进行比赛；</p>
                                <p>2.  所有比赛均为5v5王者峡谷征召模式；</p>
                                <p>3.  比赛胜负由系统判定胜负为准；</p>
                                <p>4.  本次比赛最多接收512支队伍报名，初赛（512支战队）至复赛（256支战队）采用BO1（一局定胜负）赛制，决赛（16支战队）采用BO3（三局两胜）赛制；</p>
                                <p>5.  抽签、开设建房、进入房间须有效率，裁判发起命令3分钟内未作为的队伍视为弃权；</p>
                                <p>6.  比赛禁选开始至比赛结束全过程不得人为退出游戏，违者视为弃权；</p>
                                <p>7.  当参赛选手发生以下不公平游戏行为，包括但不限于：串通比赛，事先分割奖金，利用漏洞，窥屏，代打，作弊，干扰、辱骂、殴打对手，侮辱行为（包括对对手、主办方、现场观众等），演播干扰，非法犯罪行为等。现场工作人员有权对选手及其战队进行处罚。处罚包括但不限于：口头警告、罚款及/或没收奖金、判定弃权、禁赛、取消参赛资格等。</p>
                            </div>
                            <div class="cs">
                                <span class="ywm"><img class="fl" src="__PUBLIC__/img/zt_03.png" alt="">应急处置</span>
                                <p>1.   比赛开始后，一旦发生掉线、账号异常、设备异常、服务器崩溃等无法进行游戏的状况，选手需立即告知裁判，裁判暂停游戏。异常结束、所有选手均可继续正常游戏后，裁判告知双方后，由裁判结束暂停，比赛继续。</p>
                                <p>2.  如果选手在未得到裁判许可的情况下暂停或者取消暂停游戏，会被认为是影响比赛公平性的行为，王者荣耀赛事组可以进行仲裁。</p>
                                <p>3.  如果游戏无法暂停且无法正常继续进行，赛事组可裁定本局需要重新开始时，比赛双方需直接使用普通房间, 选择同样的英雄、召唤师技能、铭文等进入游戏，如有私自更换，裁判可直接判负。</p>
                            </div>
                            <div class="cs">
                                <span class="ywm"><img class="fl" src="__PUBLIC__/img/zt_03.png" alt="">其他说明</span>
                                <p>1.   本次赛事最终解释权在法律允许范围内归主办方所有。</p>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			</div>
			<!--底部banner-->
			<div class="brnner_bot">
				<div class="com_wrap">
					{neq name='teaminfo.id' value=''}
					<div class="str_team">
						<div class="team_user">
							<h3>{$teaminfo.name}</h3>
							<p>队伍ID : 1234567890</p>
							<p>申请要求：{$teaminfo.content}</p>
						</div>
						<div class="team_member">
							<h3>队伍成员</h3>
							<ul>
								{volist name="team" key='k' id="vo"}
								<li class="{eq name='k' value='1'}one{else/}other{/eq}">
									<div class="member_pic"><img src="__PUBLIC__/img/box01_tx.jpg"/></div>
									<p>{$vo.username}</p>
								</li>
								{/volist}
							</ul>
						</div>
					</div>
					{/neq}
				</div>	
				
			</div>
			<!--联系我们-->
				<div class="com_wrap com_son">
					<div class="conact">
						<div class="conact_til">
							<h3>联系我们</h3>
							<span class="sm">如对本次赛事有任何疑问，请拨打电话：010-64705868或QQ联系：1545352374 您也可以扫描底部二维码关注顺心会</span>
							<span class="zb">*本活动最终解释权归主办方所有</span>
							<span class="zbf">主办方：顺心会</span>
						</div>
					</div>	
				</div>
{include file="public/footer" /}