<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta name="format-detection" content="address=no;">
		<title>王者荣耀</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/init.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/glory.css"/>
		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/init.js"></script>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<!--头-->
		<div class="header">
			<a href="/wap/member"></a>
			<h3>王者荣耀</h3>
		</div>
		<div class="wzry_wrap">
			<!--我的队伍-->
			{neq name='myteam.tid' value=''}
			<a href="/wap/glory/myteam">
				<div class="duiwu">
					<p>我的队伍</p>
					<div class="go"></div>
				</div>
			</a>
			{/neq}
			<!--实名认证-->
			<a href="/wap/member/identify">
				<div class="duiwu">
					<p>实名认证</p>
					<div class="go"></div>
				</div>
			</a>
			<!--初赛队伍-->
			<a href="/wap/glory/primary">
				<div class="duiwu">
					<p>初赛队伍</p>
					<div class="go"></div>
				</div>
			</a>
			<!--复赛队伍-->
			<!-- <a href="#"> -->
			<a href="/wap/glory/semi">
				<div class="duiwu">
					<p>复赛队伍</p>
					<div class="go"></div>
				</div>
			</a>
			<!--决赛队伍-->
			<!-- <a href="#"> -->
			<a href="/wap/glory/finals">
				<div class="wode duiwu">
					<p>决赛队伍</p>
					<div class="go"></div>
				</div>
			</a>
		</div>
	</body>
</html>
