/*队伍*/
.team_wrap {width: 100%;margin-top: 1.1rem;background-color: #fff;}
.team_list {height: 1.5rem; padding: 0 0.35rem;border-bottom: 1px solid #ddd;}
.team_list:last-child {border-bottom: none;}
.team_l {float: left;}
.team_l .img_wrap {float: left;margin: 0.2rem 0.2rem 0 0; width: 1.1rem;height: 1.1rem;border-radius: 50%;overflow: hidden;}
.team_l .img_wrap img {width: 100%; height: 100%;}
.team_l .info {float: left; margin-top: 0.3rem;}
.team_l .info p {line-height: 0.5rem;font-size: 0.28rem;color: #333;}

.team_r {float: right;}
.team_r p {font-size: 0.28rem;color: #666;line-height: 1.5rem;}

.blue {background-color: #ebf6fc;}