<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
<div class="fxBox">
    <div class="fix-icon">
        <div class="fix01">
            <div class="fix_hover01"></div>
            <div class="fix_hover02"></div>
            <div class="fix_hover03"></div>
            <div class="fix_hover04"></div>
            <div class="fix-ewm"></div>
            <div class="fix-weibo"></div>
            <div class="fix-qq"></div>
            <div class="fix-kf"></div>
        </div>
        <div class="fix02" id="returnTop"></div>
    </div>
</div>